@model IEnumerable<SIPSProyecto.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/indexAdminStyles.css">
</head>

<h2>Usuarios del Sistema</h2>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>

}
@using (Html.BeginForm("Search", "Usuario"))
{
    <div class="form-group">
        @Html.TextBox("nombres_usu", null, new { @class = "TextBox", @placeholder = "Ingrese nombre de estudiante" })
        @Html.TextBox("apellidos_usu", null, new { @class = "TextBox", @placeholder = "Ingrese apellido de estudiante" })
        @Html.TextBox("correo_usu", null, new { @class = "TextBox", @placeholder = "Ingrese codigo de estudiante" })
        @Html.TextBox("tipo_usu", null, new { @class = "TextBox", @placeholder = "Ingrese codigo de estudiante" })
        <button type="submit"></button>
    </div>
}
<hr class="divider">
<table class="student-table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Correo
        </th>
        <th>
            Tipo
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="redirectTo('@Url.Action("Details", "Usuario", new { id = item.usu_iCodigo })')">
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcNombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcApellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcCorreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcTipo)
            </td>
        </tr>
    }

</table>
<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>

<p>
    @Html.ActionLink("Agregar usuario", "Create", "", new { @class = "btn btn-success", @style = "margin-left: 0px; margin-top: 15px; font-size: 16px;" })
</p>
