@model IEnumerable<SIPSProyecto.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/indexAdminStyles.css">
</head>

<h2>Usuarios del Sistema</h2>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>

}
@using (Html.BeginForm("Search", "Usuario"))
{
    <div class="form-group">
        @Html.TextBox("nombres_usu", null, new { @class = "TextBox", @placeholder = "Ingrese nombres" })
        @Html.TextBox("apellidos_usu", null, new { @class = "TextBox", @placeholder = "Ingrese apellidos" })
        @Html.TextBox("correo_usu", null, new { @class = "TextBox", @placeholder = "Ingrese correo" })
        @Html.DropDownList("tipo_usu", new List<SelectListItem>
                           {
                               new SelectListItem { Text = "Ingrese tipo", Value = "", Selected = true },
                               new SelectListItem { Text = "Administrador", Value = "Administrador" },
                               new SelectListItem { Text = "Coordinador", Value = "Coordinador" },
                               new SelectListItem { Text = "Asistente de empresa", Value = "Asistente de empresa" },
                               new SelectListItem { Text = "Estudiante", Value = "Estudiante" }
                           }, "Seleccione un tipo", new { @class = "TextBox", @style = "font-size: 16px;" })
        <button type="submit"></button>
    </div>
}
<hr class="divider">
<table class="student-table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Correo
        </th>
        <th>
            Tipo
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="redirectTo('@Url.Action("Details", "Usuario", new { id = item.usu_iCodigo })')">
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcNombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcApellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcCorreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usu_vcTipo)
            </td>
        </tr>
    }

</table>
<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>

<p>
    @Html.ActionLink("Agregar usuario", "Create", "", new { @class = "btn btn-success", @style = "margin-left: 0px; margin-top: 15px; font-size: 16px;" })
</p>
