<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <h2>SIPS</h2>
        <div class="tipo_user">
            @if (Session["tipo"] != null)
            {
        <p>@Session["tipo"]</p>}
        </div>
        <ul>
            @if (Session["tipo"].ToString() == "Administrador")
            {
                <li><a href="~/Usuario/Details/@Session["id"]">Perfil</a></li>
                <li><a href="~/Usuario/Index">Usuarios del sistema</a></li>
                <li><a href="~/Incidencia/Index">Incidencias del sitema</a></li>
            }
            @if (Session["tipo"].ToString() == "Coordinador")
            {
                <li><a href="~/Estudiante/Index">Mantener información del alumno</a></li>
                <li><a href="~/Convenio/Index">Mantener información del convenio</a></li>
            }
            @if (Session["tipo"].ToString() == "Asistente de empresa")
            {
                <li><a href="~/Convenio/Index">Consultar datos del convenio</a></li>
                <li><a href="~/Incidencia/Index">Incidencias del sitema</a></li>
            }
            @if (Session["tipo"].ToString() == "Estudiante")
            {
                <li><a href="~/Convenio/Index">Consultar datos del convenio</a></li>
                <li><a href="~/Incidencia/Index">Incidencias del sitema</a></li>
            }
        </ul>
    </div>
    <div class="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)
</body>
</html>
